html
  link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
  link(rel='stylesheet', href='stylesheets/viewcss.css')
  script(type='text/javascript', src='javascripts/jquery.js')
  script(type='text/javascript', src='javascripts/mongodb.js')

block content
  h1 Lista de Usuarios de MongoDB
    table.table.table-hover
      thead
        tr
          th Usuario
          th Contraseña
          th Email
          th Token
          th Nombre en Perfil
          th Modificar Usuario
          th Eliminar Usuario
      tbody
          each usuario in usuarios
            tr
              td=usuario.name
              td=usuario.password
              td=usuario.email
              td=usuario.providerData
              td=usuario.providerId
              td
                .dropdown
                  button.dropbtn(onclick='myFunction("'+usuario.id+'")') Modificar Datos
                  div(id=usuario.id, class="dropdown-content")
                    button.dropbtn(onclick='valueSwap("'+usuario._id+'","name");') Nombre de Usuario
                    button.dropbtn(onclick='valueSwap("'+usuario._id+'","password");') Contraseña
                    button.dropbtn(onclick='valueSwap("'+usuario._id+'","email");') Email
                    button.dropbtn(onclick='valueSwap("'+usuario._id+'","providerData");') Token
                    button.dropbtn(onclick='valueSwap("'+usuario._id+'","providerId");') Nombre en Perfil
              td
                a.btn.btn-primary(href='/mongodb/eliminar?id='+usuario._id) Eliminar Usuario
a.btn.btn-primary(href='/mongodb/add') Añadir Usuario
a.btn.btn-primary(href='/loged') Volver Atras
a.btn.btn-primary(href='/cerrarsesion') Cerrar Sesion