html
  link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
  link(rel='stylesheet', href='stylesheets/viewcss.css')
  script(type='text/javascript', src='javascripts/jquery.js')
  script(type='text/javascript', src='javascripts/viewjs.js')

block content
  h1 Lista de Usuarios de MongoDB
    table.table.table-hover
      thead
        tr
          th Usuario
          th Contraseña
          th ID Perfil
          th Token
          th Nombre en Perfil
          th Modificar Usuario
          th Eliminar Usuario
      tbody
          each usuario in usuarios
            tr
              td=usuario.name
              td=usuario.password
              td=usuario.email
              td=usuario.providerData
              td=usuario.providerId
              td
                .dropdown
                  button.dropbtn(onclick='myFunction()') Modificar Datos
                  #myDropdown.dropdown-content
                    button(onclick='valueSwap('+usuario.id+',"username");') Nombre de Usuario
                    button(onclick='valueSwap('+usuario.id+',"password");') Contraseña
                    button(onclick='valueSwap('+usuario.id+',"idperfil");') ID Perfil
                    button(onclick='valueSwap('+usuario.id+',"token");') Token
                    button(onclick='valueSwap('+usuario.id+',"nombreperfil");') Nombre en Perfil
              td
                a.btn.btn-primary(href='/sqlite/eliminar?id='+usuario.id) Eliminar Usuario
a.btn.btn-primary(href='/sqlite/add') Añadir Usuario
a.btn.btn-primary(href='/loged') Volver Atras
a.btn.btn-primary(href='/sqlite/cerrarsesion') Cerrar Sesion