html
    link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/viewcss.css')
    script(type='text/javascript', src='javascripts/jquery.js')
    script(type='text/javascript', src='javascripts/viewjs.js')

block content
  h1 Lista de Usuarios de SQLITE
   table.table.table-hover
    thead
      tr
        th Usuario
        th Contraseña
        th Tipo de Usuario
        th Email
        th Telefono
        th Modificar Usuario
        th Eliminar Usuario
    tbody
          if(usuarios)
            each usuario in usuarios
              tr
                td=usuario.username
                td=usuario.password
                td=usuario.tipousuario
                td=usuario.email
                td=usuario.telefono
                td
                    .dropdown
                        button.dropbtn(onclick='myFunction('+usuario.id+')') Modificar Datos
                        div(id=usuario.id, class="dropdown-content")
                            button(onclick='valueSwap('+usuario.id+',"username");') Nombre de Usuario
                            button(onclick='valueSwap('+usuario.id+',"password");') Contraseña
                            button(onclick='valueSwap('+usuario.id+',"tipousuario");') Tipo de Usuario
                            button(onclick='valueSwap('+usuario.id+',"email");') Email
                            button(onclick='valueSwap('+usuario.id+',"telefono");') Telefono
                td
                    a.btn.btn-primary(href='/sqlite/eliminar?id='+usuario.id) Eliminar Usuario
a.btn.btn-primary(href='/sqlite/add') Añadir Usuario
a.btn.btn-primary(href='/loged') Volver Atras
a.btn.btn-primary(href='/cerrarsesion') Cerrar Sesion